In [1]:
import sqlite3

In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:

import pandas as pd

In [4]:
pip install jupysql --upgrade

Requirement already satisfied: jupysql in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (0.11.0)
Requirement already satisfied: prettytable>=3.12.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (3.15.1)
Requirement already satisfied: sqlalchemy in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (2.0.38)
Requirement already satisfied: sqlparse in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (3.1.5)
Requirement already satisfied: sqlglot>=11.3.7 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (26.8.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (3.18.1)
Requirement already satisfied: wcwidth in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: requests<3.0,>=2.7 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: monotonic>=1.5 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: distro>=1.5.0 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/stephano/Desktop/projects/stephano-leo/ds-lab/myenv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.1.31)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql

In [6]:
import os
print(os.path.exists("olist.sqlite"))  # Absolute path
print(os.path.exists("olist.sqlite"))   # Relative path

True
True

In [7]:
%sql sqlite:///olist.sqlite

Connecting to 'sqlite:///olist.sqlite'

In [8]:
%%sql
SELECT *
FROM sqlite_schema

Running query in 'sqlite:///olist.sqlite'

+-------+-----------------------------------+-----------------------------------+----------+----------------------------------------------------+
|  type |                name               |              tbl_name             | rootpage |                        sql                         |
+-------+-----------------------------------+-----------------------------------+----------+----------------------------------------------------+
| table | product_category_name_translation | product_category_name_translation |    2     | CREATE TABLE "product_category_name_translation" ( |
|       |                                   |                                   |          |           "product_category_name" TEXT,            |
|       |                                   |                                   |          |         "product_category_name_english" TEXT       |
|       |                                   |                                   |          |                         )                          |
| table |              sellers              |              sellers              |    3     |              CREATE TABLE "sellers" (              |
|       |                                   |                                   |          |                 "seller_id" TEXT,                  |
|       |                                   |                                   |          |          "seller_zip_code_prefix" INTEGER,         |
|       |                                   |                                   |          |                 "seller_city" TEXT,                |
|       |                                   |                                   |          |                 "seller_state" TEXT                |
|       |                                   |                                   |          |                         )                          |
| table |             customers             |             customers             |    48    |             CREATE TABLE "customers" (             |
|       |                                   |                                   |          |                "customer_id" TEXT,                 |
|       |                                   |                                   |          |              "customer_unique_id" TEXT,            |
|       |                                   |                                   |          |         "customer_zip_code_prefix" INTEGER,        |
|       |                                   |                                   |          |                "customer_city" TEXT,               |
|       |                                   |                                   |          |                "customer_state" TEXT               |
|       |                                   |                                   |          |                         )                          |
| table |            geolocation            |            geolocation            |   2282   |            CREATE TABLE "geolocation" (            |
|       |                                   |                                   |          |       "geolocation_zip_code_prefix" INTEGER,       |
|       |                                   |                                   |          |               "geolocation_lat" REAL,              |
|       |                                   |                                   |          |               "geolocation_lng" REAL,              |
|       |                                   |                                   |          |               "geolocation_city" TEXT,             |
|       |                                   |                                   |          |               "geolocation_state" TEXT             |
|       |                                   |                                   |          |                         )                          |
| table |            order_items            |            order_items            |  12881   |            CREATE TABLE "order_items" (            |
|       |                                   |                                   |          |                  "order_id" TEXT,                  |
|       |                                   |                                   |          |               "order_item_id" INTEGER,             |
|       |                                   |                                   |          |                  "product_id" TEXT,                |
|       |                                   |                                   |          |                  "seller_id" TEXT,                 |
|       |                                   |                                   |          |             "shipping_limit_date" TEXT,            |
|       |                                   |                                   |          |                    "price" REAL,                   |
|       |                                   |                                   |          |                 "freight_value" REAL               |
|       |                                   |                                   |          |                         )                          |
| table |           order_payments          |           order_payments          |  16916   |          CREATE TABLE "order_payments" (           |
|       |                                   |                                   |          |                  "order_id" TEXT,                  |
|       |                                   |                                   |          |            "payment_sequential" INTEGER,           |
|       |                                   |                                   |          |                 "payment_type" TEXT,               |
|       |                                   |                                   |          |           "payment_installments" INTEGER,          |
|       |                                   |                                   |          |                 "payment_value" REAL               |
|       |                                   |                                   |          |                         )                          |
| table |           order_reviews           |           order_reviews           |  18508   |           CREATE TABLE "order_reviews" (           |
|       |                                   |                                   |          |                 "review_id" TEXT,                  |
|       |                                   |                                   |          |                   "order_id" TEXT,                 |
|       |                                   |                                   |          |               "review_score" INTEGER,              |
|       |                                   |                                   |          |             "review_comment_title" TEXT,           |
|       |                                   |                                   |          |            "review_comment_message" TEXT,          |
|       |                                   |                                   |          |             "review_creation_date" TEXT,           |
|       |                                   |                                   |          |            "review_answer_timestamp" TEXT          |
|       |                                   |                                   |          |                         )                          |
| table |               orders              |               orders              |  22174   |              CREATE TABLE "orders" (               |
|       |                                   |                                   |          |                  "order_id" TEXT,                  |
|       |                                   |                                   |          |                 "customer_id" TEXT,                |
|       |                                   |                                   |          |                 "order_status" TEXT,               |
|       |                                   |                                   |          |           "order_purchase_timestamp" TEXT,         |
|       |                                   |                                   |          |              "order_approved_at" TEXT,             |
|       |                                   |                                   |          |         "order_delivered_carrier_date" TEXT,       |
|       |                                   |                                   |          |        "order_delivered_customer_date" TEXT,       |
|       |                                   |                                   |          |         "order_estimated_delivery_date" TEXT       |
|       |                                   |                                   |          |                         )                          |
| table |              products             |              products             |  26706   |             CREATE TABLE "products" (              |
|       |                                   |                                   |          |                 "product_id" TEXT,                 |
|       |                                   |                                   |          |            "product_category_name" TEXT,           |
|       |                                   |                                   |          |             "product_name_lenght" REAL,            |
|       |                                   |                                   |          |          "product_description_lenght" REAL,        |
|       |                                   |                                   |          |              "product_photos_qty" REAL,            |
|       |                                   |                                   |          |               "product_weight_g" REAL,             |
|       |                                   |                                   |          |              "product_length_cm" REAL,             |
|       |                                   |                                   |          |              "product_height_cm" REAL,             |
|       |                                   |                                   |          |               "product_width_cm" REAL              |
|       |                                   |                                   |          |                         )                          |
| table |          leads_qualified          |          leads_qualified          |  27283   |          CREATE TABLE "leads_qualified" (          |
|       |                                   |                                   |          |                   "mql_id" TEXT,                   |
|       |                                   |                                   |          |              "first_contact_date" TEXT,            |
|       |                                   |                                   |          |               "landing_page_id" TEXT,              |
|       |                                   |                                   |          |                    "origin" TEXT                   |
|       |                                   |                                   |          |                         )                          |
+-------+-----------------------------------+-----------------------------------+----------+----------------------------------------------------+
Truncated to displaylimit of 10.

In [9]:
%%sql
SELECT name
FROM sqlite_schema
WHERE type = "table"

Running query in 'sqlite:///olist.sqlite'

+-----------------------------------+
|                name               |
+-----------------------------------+
| product_category_name_translation |
|              sellers              |
|             customers             |
|            geolocation            |
|            order_items            |
|           order_payments          |
|           order_reviews           |
|               orders              |
|              products             |
|          leads_qualified          |
+-----------------------------------+
Truncated to displaylimit of 10.

In [10]:
%%sql
SELECT *
FROM sellers
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+------------------------+-------------------+--------------+
|            seller_id             | seller_zip_code_prefix |    seller_city    | seller_state |
+----------------------------------+------------------------+-------------------+--------------+
| 3442f8959a84dea7ee197c632cb2df15 |         13023          |      campinas     |      SP      |
| d1b65fc7debc3361ea86b5f14c68d2e2 |         13844          |     mogi guacu    |      SP      |
| ce3ad9de960102d0677a81f5d0bb7b2d |         20031          |   rio de janeiro  |      RJ      |
| c0f3eea2e14555b6faeea3dd58c1b1c3 |          4195          |     sao paulo     |      SP      |
| 51a04a8a6bdcb23deccc82b0b80742cf |         12914          | braganca paulista |      SP      |
+----------------------------------+------------------------+-------------------+--------------+

In [11]:
%%sql
SELECT *
FROM customers
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+----------------------------------+--------------------------+-----------------------+----------------+
|           customer_id            |        customer_unique_id        | customer_zip_code_prefix |     customer_city     | customer_state |
+----------------------------------+----------------------------------+--------------------------+-----------------------+----------------+
| 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |         franca        |       SP       |
| 18955e83d337fd6b2def6b18a428ac77 | 290c77bc529b7ac935b93aa66c333dc3 |           9790           | sao bernardo do campo |       SP       |
| 4e7b3e00288586ebd08712fdd0374a03 | 060e732b5b29e8181a18229c7b0b2b5e |           1151           |       sao paulo       |       SP       |
| b2b6027bc5c5109e529d4dc6358b12c3 | 259dac757896d24d7702b9acbbff3f3c |           8775           |    mogi das cruzes    |       SP       |
| 4f2d8ab171c80ec8364f7c12e35b23ad | 345ecd01c38d18a9036ed96c73b8d066 |          13056           |        campinas       |       SP       |
+----------------------------------+----------------------------------+--------------------------+-----------------------+----------------+

In [12]:
%%sql
SELECT *
FROM geolocation
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+-----------------------------+---------------------+--------------------+------------------+-------------------+
| geolocation_zip_code_prefix |   geolocation_lat   |  geolocation_lng   | geolocation_city | geolocation_state |
+-----------------------------+---------------------+--------------------+------------------+-------------------+
|             1037            |  -23.54562128115268 | -46.63929204800168 |    sao paulo     |         SP        |
|             1046            |  -23.54608112703553 | -46.64482029837157 |    sao paulo     |         SP        |
|             1046            |  -23.54612896641469 | -46.64295148361138 |    sao paulo     |         SP        |
|             1041            |  -23.5443921648681  | -46.63949930627844 |    sao paulo     |         SP        |
|             1035            | -23.541577961711493 | -46.64160722329613 |    sao paulo     |         SP        |
+-----------------------------+---------------------+--------------------+------------------+-------------------+

In [13]:
%%sql
SELECT *
FROM order_items
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+
|             order_id             | order_item_id |            product_id            |            seller_id             | shipping_limit_date | price | freight_value |
+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+
| 00010242fe8c5a6d1ba2dd792cb16214 |       1       | 4244733e06e7ecb4970a6e2683c13e61 | 48436dade18ac8b2bce089ec2a041202 | 2017-09-19 09:45:35 |  58.9 |     13.29     |
| 00018f77f2f0320c557190d7a144bdd3 |       1       | e5f2d52b802189ee658865ca93d83a8f | dd7ddc04e1b6c2c614352b383efe2d36 | 2017-05-03 11:05:13 | 239.9 |     19.93     |
| 000229ec398224ef6ca0657da4fc703e |       1       | c777355d18b72b67abbeef9df44fd0fd | 5b51032eddd242adc84c38acab88f23d | 2018-01-18 14:48:30 | 199.0 |     17.87     |
| 00024acbcdf0a6daa1e931b038114c75 |       1       | 7634da152a4610f1595efa32f14722fc | 9d7a1d34a5052409006425275ba1c2b4 | 2018-08-15 10:10:18 | 12.99 |     12.79     |
| 00042b26cf59d7ce69dfabb4e55b4fd9 |       1       | ac6c3623068f30de03045865e4e10089 | df560393f3a51e74553ab94004ba5c87 | 2017-02-13 13:57:51 | 199.9 |     18.14     |
+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+

In [14]:
%%sql
SELECT *
FROM order_payments
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+--------------------+--------------+----------------------+---------------+
|             order_id             | payment_sequential | payment_type | payment_installments | payment_value |
+----------------------------------+--------------------+--------------+----------------------+---------------+
| b81ef226f3fe1789b1e8b2acac839d17 |         1          | credit_card  |          8           |     99.33     |
| a9810da82917af2d9aefd1278f1dcfa0 |         1          | credit_card  |          1           |     24.39     |
| 25e8ea4e93396b6fa0d3dd708e76c1bd |         1          | credit_card  |          1           |     65.71     |
| ba78997921bbcdc1373bb41e913ab953 |         1          | credit_card  |          8           |     107.78    |
| 42fdf880ba16b47b59251dd489d4441a |         1          | credit_card  |          2           |     128.45    |
+----------------------------------+--------------------+--------------+----------------------+---------------+

In [15]:
%%sql
SELECT *
FROM order_reviews
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+----------------------------------+--------------+----------------------+------------------------------------------------------------------------------------------------------+----------------------+-------------------------+
|            review_id             |             order_id             | review_score | review_comment_title |                                        review_comment_message                                        | review_creation_date | review_answer_timestamp |
+----------------------------------+----------------------------------+--------------+----------------------+------------------------------------------------------------------------------------------------------+----------------------+-------------------------+
| 7bc2406110b926393aa56f80a40eba40 | 73fc7af87114b39712e6da79b0a377eb |      4       |         None         |                                                 None                                                 | 2018-01-18 00:00:00  |   2018-01-18 21:46:59   |
| 80e641a11e56f04c1ad469d5645fdfde | a548910a1c6147796b98fdf73dbeba33 |      5       |         None         |                                                 None                                                 | 2018-03-10 00:00:00  |   2018-03-11 03:05:13   |
| 228ce5500dc1d8e020d8d1322874b6f0 | f9e4b658b201a9f2ecdecbb34bed034b |      5       |         None         |                                                 None                                                 | 2018-02-17 00:00:00  |   2018-02-18 14:36:24   |
| e64fb393e7b32834bb789ff8bb30750e | 658677c97b385a9be170737859d3511b |      5       |         None         |                                Recebi bem antes do prazo estipulado.                                 | 2017-04-21 00:00:00  |   2017-04-21 22:02:06   |
| f7c4243c7fe1938f181bec41a392bdeb | 8e6bfb81e283fa7e4f11123a3fb894f1 |      5       |         None         | Parabns lojas lannister adorei comprar pela Internet seguro e prtico Parabns a todos feliz Pscoa | 2018-03-01 00:00:00  |   2018-03-02 10:26:53   |
+----------------------------------+----------------------------------+--------------+----------------------+------------------------------------------------------------------------------------------------------+----------------------+-------------------------+

In [16]:
%%sql
SELECT *
FROM orders
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+----------------------------------+--------------+--------------------------+---------------------+------------------------------+-------------------------------+-------------------------------+
|             order_id             |           customer_id            | order_status | order_purchase_timestamp |  order_approved_at  | order_delivered_carrier_date | order_delivered_customer_date | order_estimated_delivery_date |
+----------------------------------+----------------------------------+--------------+--------------------------+---------------------+------------------------------+-------------------------------+-------------------------------+
| e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d |  delivered   |   2017-10-02 10:56:33    | 2017-10-02 11:07:15 |     2017-10-04 19:55:00      |      2017-10-10 21:25:13      |      2017-10-18 00:00:00      |
| 53cdb2fc8bc7dce0b6741e2150273451 | b0830fb4747a6c6d20dea0b8c802d7ef |  delivered   |   2018-07-24 20:41:37    | 2018-07-26 03:24:27 |     2018-07-26 14:31:00      |      2018-08-07 15:27:45      |      2018-08-13 00:00:00      |
| 47770eb9100c2d0c44946d9cf07ec65d | 41ce2a54c0b03bf3443c3d931a367089 |  delivered   |   2018-08-08 08:38:49    | 2018-08-08 08:55:23 |     2018-08-08 13:50:00      |      2018-08-17 18:06:29      |      2018-09-04 00:00:00      |
| 949d5b44dbf5de918fe9c16f97b45f8a | f88197465ea7920adcdbec7375364d82 |  delivered   |   2017-11-18 19:28:06    | 2017-11-18 19:45:59 |     2017-11-22 13:39:59      |      2017-12-02 00:28:42      |      2017-12-15 00:00:00      |
| ad21c59c0840e6cb83a9ceb5573f8159 | 8ab97904e6daea8866dbdbc4fb7aad2c |  delivered   |   2018-02-13 21:18:39    | 2018-02-13 22:20:29 |     2018-02-14 19:46:34      |      2018-02-16 18:17:02      |      2018-02-26 00:00:00      |
+----------------------------------+----------------------------------+--------------+--------------------------+---------------------+------------------------------+-------------------------------+-------------------------------+

In [17]:
%%sql
SELECT *
FROM products
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+
|            product_id            | product_category_name | product_name_lenght | product_description_lenght | product_photos_qty | product_weight_g | product_length_cm | product_height_cm | product_width_cm |
+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+
| 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
| 3aa071139cb16b67ca9e5dea641aaa2f |         artes         |         44.0        |           276.0            |        1.0         |      1000.0      |        30.0       |        18.0       |       20.0       |
| 96bd76ec8810374ed1b65e291975717f |     esporte_lazer     |         46.0        |           250.0            |        1.0         |      154.0       |        18.0       |        9.0        |       15.0       |
| cef67bcfe19066a932b7673e239eb23d |         bebes         |         27.0        |           261.0            |        1.0         |      371.0       |        26.0       |        4.0        |       26.0       |
| 9dc1a7de274444849c219cff195d0b71 | utilidades_domesticas |         37.0        |           402.0            |        4.0         |      625.0       |        20.0       |        17.0       |       13.0       |
+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+

In [18]:
%%sql
SELECT *
FROM leads_qualified
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+--------------------+----------------------------------+----------------+
|              mql_id              | first_contact_date |         landing_page_id          |     origin     |
+----------------------------------+--------------------+----------------------------------+----------------+
| dac32acd4db4c29c230538b72f8dd87d |     2018-02-01     | 88740e65d5d6b056e0cda098e1ea6313 |     social     |
| 8c18d1de7f67e60dbd64e3c07d7e9d5d |     2017-10-20     | 007f9098284a86ee80ddeb25d53e0af8 |  paid_search   |
| b4bc852d233dfefc5131f593b538befa |     2018-03-22     | a7982125ff7aa3b2054c6e44f9d28522 | organic_search |
| 6be030b81c75970747525b843c1ef4f8 |     2018-01-22     | d45d558f0daeecf3cccdffe3c59684aa |     email      |
| 5420aad7fec3549a85876ba1c529bd84 |     2018-02-21     | b48ec5f3b04e9068441002a19df93c6c | organic_search |
+----------------------------------+--------------------+----------------------------------+----------------+

In [19]:
%%sql
SELECT count(*)
FROM sellers

Running query in 'sqlite:///olist.sqlite'

+----------+
| count(*) |
+----------+
|   3095   |
+----------+

In [20]:
%%sql
SELECT distinct(seller_city)
FROM sellers

Running query in 'sqlite:///olist.sqlite'

+-------------------+
|    seller_city    |
+-------------------+
|      campinas     |
|     mogi guacu    |
|   rio de janeiro  |
|     sao paulo     |
| braganca paulista |
|       brejao      |
|     penapolis     |
|      curitiba     |
|      anapolis     |
|     itirapina     |
+-------------------+
Truncated to displaylimit of 10.

In [21]:
%%sql
SELECT count(distinct(seller_id))
FROM sellers

Running query in 'sqlite:///olist.sqlite'

+----------------------------+
| count(distinct(seller_id)) |
+----------------------------+
|            3095            |
+----------------------------+

In [22]:
%%sql
SELECT *
FROM sellers
WHERE seller_city =  "sao paulo"
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+------------------------+-------------+--------------+
|            seller_id             | seller_zip_code_prefix | seller_city | seller_state |
+----------------------------------+------------------------+-------------+--------------+
| c0f3eea2e14555b6faeea3dd58c1b1c3 |          4195          |  sao paulo  |      SP      |
| 768a86e36ad6aae3d03ee3c6433d61df |          1529          |  sao paulo  |      SP      |
| 8bd0f31cf0a614c658f6763bd02dea69 |          1222          |  sao paulo  |      SP      |
| 05a48cc8859962767935ab9087417fbb |          5372          |  sao paulo  |      SP      |
| f9ec7093df3a7b346b7bcf7864069ca3 |          5138          |  sao paulo  |      SP      |
+----------------------------------+------------------------+-------------+--------------+

In [23]:
%%sql
SELECT count(*)
FROM sellers
WHERE seller_city =  "sao paulo"

Running query in 'sqlite:///olist.sqlite'

+----------+
| count(*) |
+----------+
|   694    |
+----------+

In [24]:
%%sql
SELECT count(*)
FROM customers

Running query in 'sqlite:///olist.sqlite'

+----------+
| count(*) |
+----------+
|  99441   |
+----------+

In [25]:
%%sql
SELECT count(*)
FROM sellers AS s
JOIN customers AS c
WHERE seller_city =  "sao paulo"
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------+
| count(*) |
+----------+
| 69012054 |
+----------+

In [26]:
%%sql
SELECT distinct(seller_id),
        c.*
FROM sellers AS s
JOIN customers AS c
WHERE seller_city =  "sao paulo"
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+
|            seller_id             |           customer_id            |        customer_unique_id        | customer_zip_code_prefix | customer_city | customer_state |
+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+
| 00ab3eff1b5192e5f1a63bcecfee11c8 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       |
| 00ee68308b45bc5e2660cd833c3f81cc | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       |
| 010543a62bd80aa422851e79a3bc7540 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       |
| 0249d282d911d23cb8b869ab49c99f53 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       |
| 024b564ae893ce8e9bfa02c10a401ece | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       |
+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+

In [27]:
%%sql
SELECT distinct(seller_id) AS s_id,
        c.*,
        p.*
FROM sellers AS s
JOIN customers AS c
JOIN products AS p
WHERE seller_city =  "sao paulo"
LIMIT 5

Running query in 'sqlite:///olist.sqlite'

+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+
|               s_id               |           customer_id            |        customer_unique_id        | customer_zip_code_prefix | customer_city | customer_state |            product_id            | product_category_name | product_name_lenght | product_description_lenght | product_photos_qty | product_weight_g | product_length_cm | product_height_cm | product_width_cm |
+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+
| 00ab3eff1b5192e5f1a63bcecfee11c8 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       | 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
| 00ee68308b45bc5e2660cd833c3f81cc | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       | 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
| 010543a62bd80aa422851e79a3bc7540 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       | 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
| 0249d282d911d23cb8b869ab49c99f53 | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       | 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
| 024b564ae893ce8e9bfa02c10a401ece | 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |          14409           |     franca    |       SP       | 1e9e8ef04dbcff4541ed26657ea517e5 |       perfumaria      |         40.0        |           287.0            |        1.0         |      225.0       |        16.0       |        10.0       |       14.0       |
+----------------------------------+----------------------------------+----------------------------------+--------------------------+---------------+----------------+----------------------------------+-----------------------+---------------------+----------------------------+--------------------+------------------+-------------------+-------------------+------------------+

In [28]:
conn = sqlite3.connect("olist.sqlite")

In [29]:
query = """
        SELECT distinct(seller_id) AS s_id,
            c.*,
            p.*
        FROM sellers AS s
        JOIN customers AS c
        JOIN products AS p
        WHERE seller_city =  "sao paulo"
        """
print(query)

        SELECT distinct(seller_id) AS s_id,
            c.*,
            p.*
        FROM sellers AS s
        JOIN customers AS c
        JOIN products AS p
        WHERE seller_city =  "sao paulo"